<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header") %>
  
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body style="background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%)">
    <%- include("partials/nav") %>
    


    <div class="about-us">
    <h1>About UniEvents</h1>

    <h2>Our Story</h2>
    <p>
      Founded in 2023, UniEvents is a leading platform for discovering and
      attending a wide range of global events. Our mission is to connect
      individuals with exciting opportunities, foster community engagement, and
      enhance the event experience.
    </p>

    <h2>Our Team</h2>
    <p>
      At UniEvents, we have a dedicated team of event enthusiasts, designers,
      and developers who are passionate about creating a seamless and
      user-friendly platform. Together, we strive to empower users to explore
      and participate in diverse events across various interests and industries.
    </p>

    <h2>Our Philosophy</h2>
    <p>
      At UniEvents, we believe that events have the power to inspire, educate,
      and bring people together. Our philosophy is centered around promoting
      inclusivity, innovation, and creating meaningful connections between event
      organizers and attendees.
    </p>

    <h2>Contact Us</h2>
    <p>
      If you have any inquiries or feedback, we would love to hear from you. Get
      in touch with our team for any assistance or to discuss collaboration
      opportunities.
    </p>
    <p>Email: info.unievents.in@gmail.com</p>
    <p>Phone: 123-456-7890</p>

    <h2>Follow Us</h2>
    <p>
      Stay connected with UniEvents on social media for the latest updates,
      event recommendations, and more.
    </p>
    <ul>
      <li><a href="https://www.instagram.com/info.unievents"> <i class="fa-brands fa-instagram"></i> Instagram</a></li>
      <li><a href="https://www.twitter.com/UnieventsIn"> <i class="fa-brands fa-twitter"></i> Twitter</a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100095134073648">     <i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
      <li><a href="https://www.linkedin.com/in/unievents-in-69b576286"> <i class="fa-brands fa-linkedin-in"></i> LinkedIn</a></li>
    </ul>
</div>
  </body>
  <%- include("partials/footer") %>

</html>
