<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header") %>
  
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body style="background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%)">
    <%- include("partials/nav") %>
    


    <div class="about-us">

    <h1 style="text-align: center;">Contact Us</h1>
    <p>Thank you for visiting UniEvents! If you have any questions, feedback, or inquiries, please feel free to get in touch with us using the contact information provided below:</p>
    <p><strong>Email:</strong> info.unievents.in@gmail.com</p>
    <p><strong>Phone:</strong> +91-123 456 7890</p>
    <p><strong>Address:</strong> Dundigal, MLRIT Hyderabad, India</p>
    <p>We value your input and strive to respond to all inquiries promptly. Whether you're interested in listing your event or have suggestions for improving our platform, we welcome your thoughts!</p>
    <p>For any technical issues or assistance, please reach out to our support team at info.unievents.in@gmail.com.</p>
    <p>
      If you have any inquiries or feedback, we would love to hear from you. Get
      in touch with our team for any assistance or to discuss collaboration
      opportunities.
    </p>
    <p>Thank you for being a part of the UniEvents community. We look forward to hearing from you!</p>


    <h2>Follow Us</h2>
    <p>
      Stay connected with UniEvents on social media for the latest updates,
      event recommendations, and more.
    </p>
    <ul>
      <li><a href="https://www.instagram.com/info.unievents"> <i class="fa-brands fa-instagram"></i> Instagram</a></li>
      <li><a href="https://www.twitter.com/UnieventsIn"> <i class="fa-brands fa-twitter"></i> Twitter</a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100095134073648">     <i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
      <li><a href="https://www.linkedin.com/in/unievents-in-69b576286"> <i class="fa-brands fa-linkedin-in"></i> LinkedIn</a></li>
    </ul>
</div>
  </body>
  <%- include("partials/footer") %>

</html>
